@model Vinay.Time.Web.Models.EmployeeWeekSelectionViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Employees, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Employees, new SelectList(Model.Employees, "Id", "FullName", Model.CurrentEmployee))
        @Html.ValidationMessageFor(model => model.Employees)
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="Years">Week/Year</label>
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Week.Number, new SelectList(Model.Weeks))
        @Html.DropDownListFor(model => model.Week.Year, new SelectList(Model.Years))
        @*@Html.ValidationMessageFor(model => model.Years)*@
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Week.StartDate, new { @class = "control-label col-md-2" })
    @*<label class="control-label col-md-2" for="Years">Week/Year</label>*@
    <div class="col-md-10">
        @Html.EditorFor(model => model.Week.StartDate)
        @*@Html.DropDownListFor(model => model.Week.Year, new SelectList(Model.Years))*@
        @*@Html.ValidationMessageFor(model => model.Years)*@
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Week.EndDate, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Week.EndDate)
        @*@Html.ValidationMessageFor(model => model.Years)*@
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.State, new SelectList(Enum.GetValues(typeof(Vinay.Time.Web.Models.EmployeeWeekState))))
        @*@Html.ValidationMessageFor(model => model.Years)*@
    </div>
</div>
