@model IEnumerable<Vinay.Time.Web.Models.TimeRegistration>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeWeek.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Module.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkItem.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeWeek.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkItem.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
        </tr>
    }

</table>
