@model Vinay.Time.Web.Models.TimeRegistration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeRegistration</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeWeek.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeWeek.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Module.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkItem.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkItem.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
